<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 상세 정보</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
    <h1>회원 상세 정보</h1>

    <div class="user-details">
        <p><strong>아이디:</strong> <span th:text="${user.userId}">아이디</span></p>
        <p><strong>이름:</strong> <span th:text="${user.userNm}">이름</span></p>
        <p><strong>권한:</strong> <span th:text="${user.userAuth}">권한</span></p>
    </div>

    <div class="action-buttons">
        <button class="btn edit-btn" th:onclick="location.href='/admin/users/edit/' + [[${user.userId}]]">수정</button>
        <button class="btn delete-btn" id="deleteBtn" th:onclick="deleteUser([[${user.userId}]])">삭제</button>
    </div>
</main>
<script th:inline="javascript">
    const userId = /*[[${user.userId}]]*/ ''; // 사용자 ID
</script>
<script th:src="@{/js/admin/user-detail.js}"></script>
</body>
</html>
